
<container style="margin-top: 25px; margin-bottom: 50px">
  <spacer size="24"></spacer>

  <h2>{{ translate 'hero.title' }}</h2>

  <container>
  <row>
    <columns small="1">
      <a href=" https://www.facebook.com/kineducom" target="_blank" rel="noopener noreferrer">
        <img src="https://lh3.googleusercontent.com/qLV1TQTOZG0xTY3ocpzbkzBQD7_6sUdt8s6_B23qJHlrz5-58K8aFAoJJt3pVmwjBd5lO65xgFRQYvmBzg=s0" width="30px" />&nbsp;
      </a>
    </columns>
    <columns small="1">
    <a href=" https://www.instagram.com/kinedu" target="_blank" rel="noopener noreferrer">
      <img src="https://lh3.googleusercontent.com/TlyJwtetwi59Rip9fJr7ib6AAARnXW6SA6PtSahgtvDfNHu91j23pDcUV1N9NyFpXjTq6qVe4-1MByUcqjJa=s0" width="30"  />
    </a>&nbsp
    </columns>
    <columns small="1">
    <a href="https://www.youtube.com/channel/UCrvcN7IA-CtN-3STacygIPw" target="_blank" rel="noopener noreferrer">
      <img src="https://lh3.googleusercontent.com/YP9cv560npIMrVmElCbbCrAyyONIQr669u-GoG9rqhJNnLVXEEY3601zN2IphLOhrbBmnFKj9qeHL2oesjya=s0" width="31" />
    </a>&nbsp
    </columns>
    <columns small="1">
    <a href="https://www.pinterest.com.mx/kinedu/" target="_blank" rel="noopener noreferrer">
      <img src="https://lh3.googleusercontent.com/vd3krhiPkcVbqQvBPiyWpiLvOXpXXyDsouzQ37LqVFdscm11u8N4vb_P_E1DmKGGHX_mdLX2FuOKQ86EGg=s0" width="30" />
    </a>
    </columns>
    <columns small="1">
    <a href="https://blog.kinedu.com/" target="_blank" rel="noopener noreferrer">
      <img src="https://lh3.googleusercontent.com/F8nwM7_UBcDPCEFbnFy80gbxrilzDpKE1uVWCiCLYecZ31kT-B8uatJBQ-sJfgycyktdK1IWRu2pkoJc=s0" width="30" />
    </a>
    </columns>
    <columns small="4">
    <a href="https://www.kinedu.com/" target="_blank" rel="noopener noreferrer">
      <img src="https://lh3.googleusercontent.com/ihPfyGZVyeXDQxgI8bDEGaZSy_SGlFVMFVJpsdn5WZSThq-TgmPeiUCNmi_qv6YZWJROo0YUzwquxGGVEOA=s0" width="100" align="right" />
    </a>
    </columns>
  </row>
  </container>

  <p style="color: #1c75bb; font-size: 14px; text-align: center;">
    <em>
      You received this email because you signed up to
      <strong>
        <a href="https://www.kinedu.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
          www.kinedu.com
        </a>
      </strong>
      or someone thought it might be interesting for you.
      But if you would prefer to no longer receive these e-mails
      <a href="<%= unsubscribe_url %>" style="text-decoration: none; color: inherit;"><strong>Unsubscribe</strong></a>.
      Questions or comments? We would love to hear your thoughts! Send us an email at
      <a style="text-decoration: none; color: inherit;" href="mailto:hello@kinedu.com" none="">
        <strong>hello@kinedu.com</strong>
      </a>
    </em>
  </p>
</container>
